#map-canvas {
    width: 90%;
    height: 800px;
    margin-top: 1em;
    margin-bottom: 1em;
    position: absolute;
    left: 5%;
    top: 5%;
}

.button-div {
    margin-left: 5%;
}

#floating-panel {
    position: absolute;
    top: 8%;
    left: 20%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
